.navigationContainer {
  background: #5ab9d8;
  height: 6.5rem;
  justify-content: space-between;
  padding: 1.2rem;
  display: flex;

    p {
      padding-left: 40%;
      color: black;
      font-family: Lobster, sans-serif;
      font-size: 3rem;
      text-align: center;
    }

    img {
      height: 95%;
      margin-left: 1.5rem;


  }
}
