.navigationContainer {
  background: #007bff;
  height: 3rem;
  display: flex;
  justify-content: center;


    p {
      color: black;
      font-family: Lobster, sans-serif;
      font-size: 2rem;
      padding-top: 0.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
}
