
.structureContainer {
  .homeMoradas {
    background: #CAE1FF;
    height: auto;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;

    span {
      display: block;
      padding-bottom: 3rem;
      font-family: Lobster;
      font-size: 3rem;
      color: black;

    }
    img {
      height: 30rem;
      width: 30rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 0;
      margin-right: 0;
      padding-top: 2rem;
    }
  }
}
