.footerContainer {
  background: #33a9d1;
  height: 14.5rem;
  padding-top: 3rem;

  span {
      color: black;
      font-family: Inter, sans-serif;
      font-size: 1rem;
      text-align: center;
      display: block;

    }

  .socialMedia {
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.35rem;
  }
}
